/* navbar */
/* PK: min-height = logo height + 20px */ 
/*
.navbar {
  min-height: 100px;
}
*/

.navbar-brand img {
  height: 100%;

}
/* PK: height = logo height + 20px */ 
/*.navbar-brand {
  height: 100px;
}*/

