/* navbar */
/* PK: min-height = logo height + 20px */ 
.navbar {
  min-height: 100px;
}
/* PK: height = logo height + 20px */ 
.navbar-brand {
  height: 100px;
}
/* cd-fixed-bg */
.cd-fixed-bg {  
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-fixed-bg.cd-fixed-bg--2 {
  background-image: url("../img/fixed-background-2.jpg");
}